<div>
    {{#with main}}
    <main>
        <section>
            {{>title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each work}}
                    <li>
                        <div>{{>position}}</div>
                        <br>
                        <div>{{>duration.from}} - {{>duration.to}}</div>
                        <br>
                        <div>
                            <a href="{{companny.url}}" {{company.name}}></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/main}}
</div>