<nav>
    {{>link text="Skills" href="/skills"}}
    {{>link text="Summary" href="/summary"}}
    {{>link text="Education" href="/education"}}
    {{>link text="Work" href="/work"}}
    {{>link text="Person" href="/person"}}
    {{>link text="Bio" href="/bio"}}
    {{>link text="Program" href="/program"}}
    {{>link text="Web" href="/web"}}
    {{>link text="JS" href="/js"}}
    {{>link text="Car" href="/car"}}
    {{>link text="Mac" href="/mac"}}
    {{>link text="Facebook" href="/facebook"}}
    {{>link text="task21" href="/task21"}}
    {{>link text="task22" href="/task22"}}
    {{>link text="task31" href="/task31"}}
    {{>link text="shophome" href="/shophome"}}
    {{>link text="shoporder" href="/shoporder"}}
    {{>link text="shopcart" href="/shopcart"}}
    {{>link text="shopreview" href="/shopreview"}}



</nav>